.lien-conteneur-photo {
    position: relative;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    color: black;
    font-weight: 900;
    background-color: rgba(252, 252, 252, 0.8);
    display: none;
}

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
}

.img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}

.video {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: scale 0.5s 0.5s cubic-bezier(0.5, 0, 0.5, 1) both, appear 0.5s 0.5s linear both;
}